.graticule {
    fill: none;
    stroke: #444;
}

.land {
    fill: #aaa;
    stroke: #111;
}

.boundaries {
    fill: none;
    stroke: #111;
}

.outline {
    fill: none;
    stroke: #111;
}

#globalmap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 1;
}

#menu-inner {
    padding: 1em;
}

#date-container {
    margin-bottom: 1em;
}

#statistics-container {
    width:50%;
    position:relative;
    margin:auto;
    z-index: 1;
    padding: 1em;
    background-color: rgba(1,1,1,0.7);
    border-radius:1em;
}

#time-slider-container {
	position: absolute;
	left: 10%;
	bottom: 1em;
	z-index: 1;
	right: 10%;
	background-color: rgba(1,1,1,0.7);
	border-radius: 1em;
}

#time-slider {
    margin: 1em;
}

#time-slider input[type=range] {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
}